<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  function Person(firstName, lastName) {
    this.firstName = firstName;
    this.lastName = lastName;
  }

  // Person.prototype.getFullName = function() {
  //   return this.firstName + ' ' + this.lastName;
  // };

  Object.defineProperty(Person.prototype, 'getFullName', {
    configurable: true,
    enumerable: false,
    writable: true,
    value: function() {
      return this.firstName + ' ' + this.lastName;
    },
  });

  const p = new Person('Bob', 'Smith');

  class Person2 {

    constructor(firstName, lastName) {
      this.firstName = firstName;
      this.lastName = lastName;
    }

    getFullName() {
      return this.firstName + ' ' + this.lastName;
    }
  }

  const p2 = new Person2('Jane', 'Thompson');

  console.dir(Person);
  console.dir(Person2);
  console.dir(p);
  console.dir(p2);


</script>