<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  const otherInfo = {
    age: 32,
    hairColor: 'purple',
    height: 69
  }

  const person = {
    firstName: 'Bob',
    lastName: 'Smith',
    // object spread operator - ES2018 feature
    ...otherInfo,
    address: {
      street: '124 Oak Lane',
      city: 'Palo Alto',
    },
  }

  // object rest operator - ES2018 feature
  const { firstName, address: { street, city }, ...everythingElse } = person;

  console.log(firstName);
  console.log(street);
  console.log(city);
  console.log(everythingElse);



</script>