<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  function Person(firstName, lastName) {
    this.firstName = firstName;
    this.lastName = lastName;
  }

  // Person.prototype.getFullName = function() {
  //   return this.firstName + ' ' + this.lastName;
  // };

  Object.defineProperty(Person.prototype, 'getFullName', {
    configurable: true,
    enumerable: false,
    writable: true,
    value: function() {
      return this.firstName + ' ' + this.lastName;
    },
  });

  const p = new Person('Bob', 'Smith');

  class Person2 {

    // class property
    // state = {
    //   firstName: '',
    //   lastName: '',
    // };

    constructor(firstName, lastName) {
      this.firstName = firstName;
      this.lastName = lastName;

      this.state = {
        firstName: '',
        lastName: '',
      }
    }

    getFullName() {
      return this.firstName + ' ' + this.lastName;
    }

    static createPerson2(fullName) {
      
      // return new Person2(...fullName.split(' '));

      // array destructuring...
      const [ firstName, lastName ] = fullName.split(' ');
      return new Person2(firstName, lastName);
    }
  }

  const p2 = new Person2('Jane', 'Thompson');

  console.dir(Person);
  console.dir(Person2);
  console.dir(p);
  console.dir(p2);

  const p3 = Person2.createPerson2('Sally Struthers');
  console.log(p3);


</script>