<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  function outer() {

    let t = 2;

    setTimeout(() => {
      t = 4;
    }, 2000);

    return function inner() {
      console.log(t);
    };
  }

  const innerFn = outer();

  innerFn();

  console.dir(innerFn);

  setTimeout(() => {
    innerFn();
  }, 4000);

</script>