<script>

  let t = true;
  console.log(t);

  t = false;
  console.log(t);

  // falsy values
  // false
  // 0
  // ''
  // undefined
  // null
  // NaN

  t = 0 && 'test';
  console.log(t);

  t = !!'';
  console.log(t);

  // const DoIt = ({ showMe }) => {
  //   return showMe && <div>some text</div>;
  // } 

</script>