<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  const nums = [ 1, 2, 3, 4, 5 ];

  // Redux is built on this exact same concept of reducing

  // const sum = nums.reduce( (accumulator, current) => {
  //   console.log(accumulator, current);
  //   return accumulator + current;

  // }, 0 /* accumulator initializer */);


  // console.log(sum);

  // const map = (values, transformFn) => {
  //   return values.reduce( (accumulator, current ) => {
  //     accumulator.push(transformFn(current));
  //     return accumulator;
  //   }, []);
  // }

  // const filter = (values, predicateFn) => {
  //   return values.reduce( (accumulator, current ) => {
  //     if (predicateFn(current)) {
  //       accumulator.push(current);
  //     }
  //     return accumulator;
  //   }, []);
  // }

  // const doubleNums = nums.reduce( (accumulator, current ) => {
  //   accumulator.push(current * 2);
  //   return accumulator;
  // }, []);

  // const doubleNums = map(filter(nums, x => x > 3), x => x * 2);
  const doubleNums = nums.filter(x => x > 3).map(x => x * 2);
  
  console.log(doubleNums);


</script>