<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  let originalNums = [ 10, 15, 20, 25 ];

  let nums = originalNums.concat(30);
  console.log(nums);

  nums = nums.slice(0, nums.length - 1);
  console.log(nums);

  nums = [-10].concat(nums)
  console.log(nums);

  nums = nums.slice(1);
  console.log(nums);

  nums = [ ...nums.slice(0, 1), 999, 999, ...nums.slice(3) ];
  console.log(nums);

  nums = nums.concat().sort();
  console.log(nums);

  nums = nums.concat().reverse();
  console.log(nums);

  console.log(originalNums);

</script>