<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  // this is legit, but in general try to keep everything the same type
  const nums = [ true, function() {}, 'test', 23, { id: 2 } ];

  const nums = [1,2,3,4,5];

  // create an array of car objects where each car has the following properties: make, model and year

  // const makes = ['Ford', 'Tesla'];
  // const models = ['F-150', 'Model S'];
  // const year = [2015, 2018];

  // const cars = [
  //   ['Ford', 'F-150', 2015 ], 
  //   ['Tesla', 'Model S', 2018 ], 
  // ];

  const cars = [
    { make: 'Ford', model: 'F-150', year: 2015 },
    { make: 'Tesla', model: 'Model S', year: 2018 },
  ];


</script>