<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  const nums = [ 10, 15, 20, 25 ];

  let newLen = nums.push(30);
  console.log(newLen);
  console.log(nums);

  let itemRemoved = nums.pop();
  console.log(itemRemoved);
  console.log(nums);

  newLen = nums.unshift(-10);
  console.log(newLen);
  console.log(nums);

  itemRemoved = nums.shift();
  console.log(itemRemoved);
  console.log(nums);

  let itemsRemoved = nums.splice(1, 2, 999, 999);
  console.log(itemsRemoved);
  console.log(nums);

  nums.sort();
  console.log(nums);

  nums.reverse();
  console.log(nums);

</script>