<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<script>

  'use strict';

  class Person {
    constructor(firstName, lastName) {
      this.firstName = firstName;
      this.lastName = lastName;
    }

    getFullName() {
      return this.firstName + ' ' + this.lastName;
    }
  }

  class Student extends Person {
    constructor(studentId, firstName, lastName) {
      super(firstName, lastName);
      this.studentId = studentId;
    }

    getRecordInfo() {
      return `${this.studentId} ${this.lastName}, ${this.firstName}`;
    }
  }

  const student = new Student(1, 'Timmy', 'Jones');

  console.log(student.getFullName());
  console.log(student.getRecordInfo());
  console.dir(student);
  console.dir(Student);

  function Person2(firstName, lastName) {
    this.firstName = firstName;
    this.lastName = lastName;
  }

  Person2.prototype.getFullName = function() {
    return this.firstName + ' ' + this.lastName;
  };

  function Student2(studentId, firstName, lastName) {
    this._super(firstName, lastName);
    this.studentId = studentId;
  }

  Student2.prototype = Object.create(Person2.prototype);
  Student2.prototype.constructor = Student2;
  Student2.prototype._super = Person2;

  Student2.prototype.getRecordInfo = function() {
    return `${this.studentId} ${this.lastName}, ${this.firstName}`;
  }

  const student2 = new Student2(2, 'Sally', 'Jones');

  console.log(student2.getFullName());
  console.log(student2.getRecordInfo());
  console.dir(student2);
  console.dir(Student2);

  class Fruit {

  } 

  const Veggies = class { }; 


</script>